<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
        <mat-card *ngIf="dish">
            <mat-card-header>
                <mat-card-title>
                    <h3>{{dish.name | uppercase}}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}>
                <mat-card-content>
                    <p>{{dish.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button [routerLink]="['/dishdetail', prev]"><span
                        class="fa fa-chevron-left fa-lg"></span></button>
                <button mat-button (click)="goBack()">BACK</button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                <span class="flex-spacer"></span>
                <button mat-button [routerLink]="['/dishdetail', next]"><span
                        class="fa fa-chevron-right fa-lg"></span></button>
            </mat-card-actions>
        </mat-card>

    </div>

    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
        <mat-card *ngIf="dish">
            <mat-card-header>
                <mat-card-title>
                    <h3>COMMENTS</h3>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor=" let comment of dish.comments">
                        <div matLine>{{comment.comment}}</div>
                        <div matLine>{{comment.rating}} Stars</div>
                        <div matLine> -- {{comment.author}} {{comment.date | date}}</div>
                    </mat-list-item>
                </mat-list>
                <mat-list *ngIf="!dishCommentForm.invalid">
                        {{dishCommentForm.value.comment}}<br>
                        {{dishCommentForm.value.rating}} stars<br>
                        -- {{dishCommentForm.value.name}}
                    
                </mat-list>
                    <form nonvalidate [formGroup]="dishCommentForm" #dcomment='ngForm' (ngSubmit)="onSubmit()">
                        
                        <p>
                            <mat-form-field>
                                <input matInput formControlName="name" placeholder="Name" type="text" required>
                                <mat-error *ngIf="formErrors.name">{{formErrors.name}}</mat-error>
                            </mat-form-field>
                        </p>
                        <mat-slider min="1" max="5" value="5" step="1" thumbLabel tickInterval="1" formControlName="rating">
                        </mat-slider>

                        <p>
                            <mat-form-field>
                                <textarea matInput formControlName="comment" placeholder="Your Comment" required
                                ></textarea>
                            <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
                        </mat-form-field>
                        </p>
                        <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="dishCommentForm.invalid">Submit</button>
                    </form>
            </mat-card-content>
           
        </mat-card>

    </div>

    <div [hidden]="dish || errMess">
        <mat-spinner></mat-spinner>
        <h4>Loading . . . Please Wait</h4>
    </div>
    <div fxflex *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{ errMess }}</h4>
    </div>
</div>